@import url("https://fonts.googleapis.com/css2?family=AirbnbCereal_W_Md:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=AirbnbCereal_W_Bk:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=AirbnbCereal_W_Bd:wght@400&display=swap");

:root {
  --color-primary-blue: rgba(86, 105, 255, 1);
  --color-typography-sub-color: rgba(116, 118, 136, 1);
  --color-typography-title: rgba(18, 13, 38, 1);
}

body {
  margin: 0;
  line-height: normal;
  // background-color: red;
}
:root {
  /* fonts */
  --font-airbnbcereal_w_md: AirbnbCereal_W_Md;
  --font-airbnbcereal_w_bk: AirbnbCereal_W_Bk;
  --font-airbnbcereal_w_bd: AirbnbCereal_W_Bd;
  --font-sf-pro-text: "SF Pro Text";

  /* font sizes */
  --font-size-3xs: 10px;
  --font-size-xs: 12px;
  --font-size-5xs: 8px;
  --font-size-smi: 13px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-gainsboro: rgba(217, 217, 217, 0);
  --color-lightgray: #ccc;
  --color-black: #000;
  --color-gray-100: #2b2849;
  --color-typography-title: #120d26;
  --color-gray-200: rgba(255, 255, 255, 0.7);
  --color-gray-300: rgba(255, 255, 255, 0.5);
  --color-gray-400: rgba(255, 255, 255, 0.8);
  --color-slategray: #747688;
  --color-salmon: #f0635a;
  --color-khaki: #ffcd6c;
  --color-blueviolet-100: #3f38dd;

  /* Border radiuses */
  --br-11xs: 2px;
  --br-5xs: 8px;
  --br-xs: 12px;
  --br-8xs: 5px;
  --br-12xs: 1px;
  --br-3xs: 10px;
  --br-6xs: 7px;
  --br-lg: 18px;
  --br-14xl: 33px;
}

:root {
  --color-primary-blue: rgba(86, 105, 255, 1);
  --color-typography-sub-color: rgba(116, 118, 136, 1);
  --color-typography-title: rgba(18, 13, 38, 1);
}
