.main-blog-page {
  width: 100%;
}
.contanersss {
  max-width: 1128px;
  margin-inline: auto;
  padding: 20px 0px;
  box-sizing: border-box;
  //   background-color: rgb(97, 7, 7);
}
.blog-section {
  width: 80%;
  height: auto;
  margin-top: 20px;
}
.blog-main-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
}
.blog-card-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  //   border: 1px solid black;
  // filter: (drop-shadowoffset-x offset-y blur-radius black);
  justify-content: center;
  border-radius: 12px;
  transition: opacity 400ms ease 0ms;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 2px -6px black;
  -moz-box-shadow: 0 5px 2px -6px black;
  // box-shadow: 0 5px 6px -6px black;
}
.blog-images {
  width: 200px;
  height: 200px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  object-fit: fill;
}
.blog-card-text-Detais {
  width: 100%;
  margin-left: 15px;
  border-radius: 0px 0px 10px 10px;
}
.blog-card-text-title {
  color: #0f0f0f;
  font-weight: 800;
  letter-spacing: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font: optional;
  color: rgba(27, 27, 27, 0.836);
  font-weight: bold;
  font-size: 22px;
  text-shadow: rgba(17, 17, 17, 0.116) 1px 0 10px;
}
.blog-text-discription {
  color: #161616;
  font-weight: 400;
  letter-spacing: 0.3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font: optional;
  font-size: 18px;
  text-shadow: rgba(37, 37, 37, 0.171) 1px 0 10px;
}
.read-more-button {
  width: 128px;
  display: flex;
  padding: 2px 20px;
  background-color: rgba(13, 45, 226, 0.925);
  border-radius: 18px;
  color: aliceblue;
  margin-top: 28px;
  align-items: center;
  font-size: 15px;
}
.see_all_upComingCardDetais {
  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform 0.3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: "";
    pointer-events: none;
  }

  &::before {
    transform-origin: left top;
  }

  &::after {
    transform-origin: right bottom;
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      transform: scale3d(1, 1, 1);
    }
  }
}
.images {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 24vh;
  align-items: center;
  padding: 1rem;
  // background-color: yellow;
  border-radius: 18px;
}
